<form [formGroup]="bookForm" (ngSubmit)="addBook()">
    <mat-dialog-content class="mat-typography">
        <h2 class="title-popup">New Book</h2>
        <div class="details-popup">

            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Author</mat-label>
                <input matInput formControlName="author">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Year</mat-label>
                <input matInput formControlName="year" type="number">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>

            <div class="image-upload-container">
                <div class="image-wrapper">
                    <strong>Image:</strong>
                    <label for='imgupload' class="image-upload-label">
                        <img [src]="bookForm.get('image')?.value || 'assets/placeholder.png'" alt="Book Cover" />
                        <input type="file" id="imgupload" (change)="onFileSelected($event)" style="display: none;" />
                        <div class="overlay-upload"><span>Upload</span></div>
                    </label>
                </div>
            </div>
        </div>
    <!-- @if (bookForm.get('title')?.errors?.['maxlength']) {
        <div>
            Name cannot exceed 50 characters.
        </div>
    } -->    
    </mat-dialog-content>
    <div class="button-control-wrapper">
        <button class="button-control" type="submit" mat-flat-button [disabled]="!bookForm.valid || (loading$ | async)">
            @if( loading$ | async ) {
                <mat-spinner [diameter]="25" style="margin: 0 auto;"></mat-spinner>
            } @else {
                Submit
            }
        </button>
        
        

    </div>
</form>